.leftside {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.leftside__menu {
    display: flex;
    flex-direction: column;
}

.leftside__other {
    display: flex;
    flex-direction: column;
}

.leftside__login {
    flex-shrink: 4;
}

.leftside__footer {

}

.menu__icon {
    padding: 10px;
}

.menu__item {
    display: flex;
    align-items: center;
}