.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.header__logo {
  height: 25px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}
